header {
    border: rgb(0, 0, 0);
    outline: 2px solid black;
    border-radius: 10px;
    background-color: rgb(228, 173, 21);
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;

  }
  body {
   background-color: white;
  }
  .head {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .head img {
    margin: 0;
    max-height: 70px;
    max-width: 200px;
  }

  nav {

  }
 
  li {
    display: inline-block;
    padding: 0 70px 0 70px;
  }
  
  #title-img {
    margin: 12px;
  }
  
  main {
    max-width: 960px;
    margin:0 auto ;
    
  }

  .main-item {
    display: flex;
    max-width: 200px;
    margin: 0 0 0 40px;
    border-radius: 50%;
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap: wrap;
  }

  .main-img {
    display: flex;
    border-radius: 50%;
    outline: 2px solid rgb(0, 0, 0);
    justify-content: center;
  } 
  
  .row {
    /* width: 960px; */
    display:flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
  }
  .row-item1 img {
    outline: 3px solid black;
    border-radius:50%;
  }
  .row-item2 img {
    outline: 3px solid black;
    border-radius:50%;
  }
  .row-item3 img {
    outline: 3px solid black;
    border-radius:50%;
   
  }
  .featured-section {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
  }
  .featured-text {
    padding: 0 0 20px 0;
    width: 450px;
  }
  .featured-text h2 {
    font-size: 45px;
    outline: 2px solid black;
    background-color:rgb(228, 173, 21) ;
    padding-bottom: 15px;
    text-align: center;
  }
  .featured-text p{
    font-size: 25px;
    background-image: url(https://raw.githubusercontent.com/codefellows/seattle-201d89/main/class-08/lab-b/assets/fish.jpg) ;
    overflow-wrap: break-word;
    overflow: auto;
    height:74%;
  }
  .featured-text p::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
  }
  .featured-section img {
    width: 480px;
    outline: 3px solid black;
    border-radius: 50%;
    height: 400px;
  }
  button {
    height: 50px;
    width: 275px;
    font-size: 25px;
    border-radius: 10px;
    margin: 10px 0;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.14);
    -webkit-box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.14);
  }
  button:hover {
    background-color: grey;
    color: blue;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  footer {
    border: rgb(53, 53, 53);
    background-color: rgb(228, 173, 21);
    border-radius: 10px;
    outline: 2px solid black;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .foot-img {
    margin: 0;
    border-radius: 50%;
    max-height: 70px;
    max-width: 200px;
    
  }
  .foot-text {
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    font-size: 30px;
  }